@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Tajawal', sans-serif;
}

.ant-input-outlined.ant-otp-input {
    height: 74px;
    width: 74px;
    border-color: rgba(113, 121, 206, 1);
    font-size: xxx-large;
    color: rgba(113, 121, 206, 1);
}

.ant-progress-text {
    padding: 5px !important;

}

.ant-select-outlined.ant-select-multiple .ant-select-selection-item {
    border-radius: 28px;
    Padding: 8px, 16px, 8px, 16px;
    Gap: 10px;
    align-items: center;
    font-size: 18px;
}

.ant-steps-item-container {
    display: flex;
}

.ant-form-item.mb-0.css-dev-only-do-not-override-f450mg{
    margin-bottom: 0;
}

.ant-form-item.css-dev-only-do-not-override-f450mg.ant-form-item-has-success{
    margin-bottom: 0;
  
}